$radius: 20px;

%input-submit {
  border: none;
  outline: none;
  padding: 5px 20px;
}

.form {
  display: flex;
  align-items: flex-end;

  label {
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
    .input {
      @extend %input-submit;
      border-radius: $radius 0 0 $radius;
      flex: 1 1 auto;
    }
  }

  .submit {
    @extend %input-submit;
    border-radius: 0 $radius $radius 0;
    flex: 1 1 30%;
    background-color: aquamarine;
    transition: 0.2s;
    cursor: pointer;
  }
  .submit:hover {
    background-color: #74e9c2;
  }
  .submit:active {
    background-color: #69d2af;
  }
}